In [83]:
#cell(2-5) ----> list
#cell(6-11) ----> numpy
#cell(12-end) ----> Linear Regreaasion model

In [8]:
#creating list
x = [1 , "tejas" , 1111 , "UTV"]

In [11]:
#testing list
x[2]
x[0:3]

[1, 'tejas', 1111]

In [12]:
#list
data = [[1 , "tejas" , 1111 , "UTV"] ,
        [2 , "hello" , 2222 , "TV"] ,
        [3 , "world" , 3333 , "LSH"]]

In [18]:
data[0][2]

1111

In [20]:
import numpy

In [21]:
type(data)

list

In [22]:
#changing list to numpy array
db = numpy.array(data)

In [25]:
type(db)
db

array([['1', 'tejas', '1111', 'UTV'],
       ['2', 'hello', '2222', 'TV'],
       ['3', 'world', '3333', 'LSH']], dtype='<U11')

In [29]:
#print name column
name = db[ : , 1]
name

array(['tejas', 'hello', 'world'], dtype='<U11')

In [30]:
#testing shape
db.shape

(3, 4)

In [34]:
#testing reshape
db.reshape(4 , 3)

array([['1', 'tejas', '1111'],
       ['UTV', '2', 'hello'],
       ['2222', 'TV', '3'],
       ['world', '3333', 'LSH']], dtype='<U11')

In [37]:
#Linear Regression Model

In [49]:
#loading dataset
import pandas
db = pandas.read_csv('mark.csv')

In [50]:
from sklearn.linear_model import LinearRegression

In [52]:
db

    name  hr  mark
0  tejas   3    30
1  hello   4    40
2  world   5    50

In [81]:
y = db["mark"]
x = db["hr"]

In [59]:
#changing pandas to numpy
type(x)
x = x.values
type(x)

numpy.ndarray

In [63]:
#make x as 2d array
x.shape
x = x.reshape(3,1)
x.shape

(3, 1)

In [71]:
#LinearRegression().fit(x , y)
#LinearRegression().predict([[7]])

LinearRegression()

In [73]:
mind = LinearRegression()

In [74]:
#training model
mind.fit(x , y)

LinearRegression()

In [75]:
#getting value of w
mind.coef_

array([10.])

In [82]:
#testing model
mind.predict([[8]])

array([80.])

In [78]:
#saving model
import joblib
joblib.dump(mind , 'marks.pk1')

['marks.pk1']